
@{
    @* add viewData *@
    ViewData["Title"] = "About-Us Page";
}

<div class="text-center">
    <h6>Company Name : RKSpoon LTD</h6>
    <h6>Corporate Headquarters : Windsor , ON, Canada</h6>
    <h6>Staff : 1</h6>
    <h6>General description of the product : <p>
    Our company makes different types of spoons like Coffee Spoon, Egg Spoon, Tea Spoon, Dessert Spoon etc. <br />
    We are making it from different types of materials such as wood, plastic ,  stainless steel etc.
</p>
    </h6>
</div>
