
@{
    @* add viewData *@
    ViewData["Title"] = "About-Us Page";
}

<div class="text-center">
    <h6 class="alert-heading" style="font-family:cursive">Company Name : RKSpoon LTD</h6>
    <h6 class="alert-heading" style="font-family:cursive">Corporate Headquarters : Windsor , ON, Canada</h6>
    <h6 class="alert-heading" style="font-family:cursive">Staff : 1</h6>
    <h6 class="alert-heading" style="font-family:cursive">General description of the product : <p class="alert-light">
    Our company makes different types of spoons like Coffee Spoon, Egg Spoon, Tea Spoon, Dessert Spoon etc. <br />
    We are making it from different types of materials such as wood, plastic ,  stainless steel etc.
</p>
    </h6>
</div>
