@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    // Add logo for the website
    <img src="~/img/rkspoon.jpg" alt="RKSpoon" />

    // Add welcome message 
    <h1 class="display-4">Welcome To The RK Spoon World</h1>
</div>
