@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="text-center">
    @* add img tag to display Image in home page *@
    <img src="~/img/rkspoon.jpg" alt="RKSpoon" />

    @* add welcome message *@
    <h1 class="display-4" style="font-family:cursive">Welcome To The RK Spoon World</h1>
</div>
